@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body {
  padding-bottom: 20px;
  padding-top: 50px;
}

/* Everything but the jumbotron gets side spacing for mobile first views üklkk*/
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}


.logo {
	font-weight: 300;
	font-size: 27px;
  color: #5cbb59;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 970px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  padding: 0px 30px;
  margin-bottom: 60px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


.header {
  margin-bottom: 10px;
}

.start_img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 15px;
}

.start_img2 {
  width: 450px;

}

.jumbotron h1 {
  color: #2faeff;
  margin-top: 50px; 
}

.jumbotron h2 {
  font-weight: 100;
  letter-spacing: 1px;
}

h3 {
  text-align: center;
  color: #2faeff;
  font-size: 36px; 
  margin-top: 90px;
  line-height: 0.6em;
}
h4 {
  font-size: 26px; 
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
}

#Contact {
margin-top: 70px;
margin-bottom: 100px;
}


.btn-lg {
padding: 14px 46px;
font-size: 26px;
line-height: 1.33;
border-radius: 8px;
letter-spacing: 1px;
}

.btn-primary {
color: #ffffff;
background-color: #2faeff;
border-color: #13A3FF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #0086DB;
  border-color: #009CFF;
}
.col-md-4 {
    padding: 30px;
}
.col-md-8 {
    padding: 30px;
}

.lead {
  text-align: center;
}
.img-profil {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-knowhow {
  width: 200px;
  margin: 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutme {
  margin-top: 20px;
}

.knowhow {
    text-align: center;
}
